{% extends 'dashboard/base.html' %}
{% load widget_tweaks %}

{% block titulo %}Dashboard {{object}} {% endblock titulo %}

{% block content %}
<div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-8">
          <div class="card">
            <div class="card-header card-header-icon card-header-rose">
              <div class="card-icon">
                <i class="material-icons">perm_identity</i>
              </div>
              <h4 class="card-title">Editar - Perfil
                <small class="category">Complete seu proPerfil</small>
              </h4>
            </div>
            <div class="card-body">
              <form method="post">{% csrf_token %}
                <div class="row">
                  
                  <div class="col-md-5">
                    <div class="form-group">
                      <label class="bmd-label-floating">{{form.email.label}}</label>
                      {{ form.email|attr:"class:form-control"|attr:"type:email" }}
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group">
{#                      <label class="bmd-label-floating">{{form.date_joined.label}}</label>#}
{#                      {{ form.date_joined|attr:"class:form-control"|attr:"disabled:disabled" }}#}
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      {{ form.id|attr:"class:form-control"|attr:"disabled:disabled" }}
                     
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="bmd-label-floating">{{form.first_name.label}}</label>
                      {{ form.first_name|attr:"class:form-control" }}
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="bmd-label-floating">{{form.last_name.label}}</label>
                      {{ form.last_name|attr:"class:form-control" }}
                    </div>
                  </div>
                </div>
                {{ user_formset.management_form }}
                {{ user_formset.non_form_errors }}
                {% for form_info in user_formset %}
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group {{ form_info.non_form_errors }}">
                      <label class="bmd-label-floating">Endereço</label>
                      {{ form_info.city|attr:"class:form-control" }}
                    </div>
                  </div>
                </div>
               
                <div class="row">
                  <div class="col-md-4">
                    <div class="form-group">
                      <label class="bmd-label-floating">Sexo</label>
                      {{ form_info.gender|attr:"class:form-control" }}
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label class="bmd-label-floating">Telefone</label>
                      {{ form_info.phone|attr:"class:form-control" }}
                    </div>
                  </div>
                  
                
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label>Bio</label>
                      <div class="form-group">
                        <label class="bmd-label-floating"> Lamborghini Mercy, Your chick she so thirsty, I'm in that two seat Lambo.</label>
                        
                        {{ form_info.about|attr:"textarea:textarea"|attr:"class:form-control" }}
                      </div>
                      {{ form_info.id }}
                    </div>
                  </div>
                </div>
                {% endfor %}
                <button type="submit" class="btn btn-rose pull-right">Atualizar</button>
                <div class="clearfix"></div>
              </form>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card card-profile">
            <div class="card-avatar">
              <a href="#pablo">
                <img class="img" src="../../assets/img/faces/marc.jpg" />
              </a>
            </div>
            <div class="card-body">
              <h6 class="card-category text-gray">CEO / Co-Founder</h6>
              <h4 class="card-title">Alec Thompson</h4>
              <p class="card-description">
                Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...
              </p>
              <a href="#pablo" class="btn btn-rose btn-round">Follow</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}